USE [Sanguosha-data]
GO
ALTER TABLE [dbo].[generals] DROP CONSTRAINT [kingdom]
GO
ALTER TABLE [dbo].[general_skin] DROP CONSTRAINT [id]
GO
ALTER TABLE [dbo].[cards] DROP CONSTRAINT [卡牌数字在A~K之间]
GO
ALTER TABLE [dbo].[cards] DROP CONSTRAINT [卡牌类型]
GO
ALTER TABLE [dbo].[cards] DROP CONSTRAINT [卡牌花色]
GO
ALTER TABLE [dbo].[general_skin] DROP CONSTRAINT [FK_general_skin_generals]
GO
ALTER TABLE [dbo].[general_skill] DROP CONSTRAINT [FK_general-skill_generals]
GO
ALTER TABLE [dbo].[general_hp_adjust] DROP CONSTRAINT [FK_general_hp_adjust_generals]
GO
ALTER TABLE [dbo].[cards] DROP CONSTRAINT [FK_cards_card_package]
GO
ALTER TABLE [dbo].[achieve] DROP CONSTRAINT [FK_achieve_title]
GO
ALTER TABLE [dbo].[skills] DROP CONSTRAINT [DF_skills_attach_lord]
GO
ALTER TABLE [dbo].[show_frame] DROP CONSTRAINT [DF_show_frame_skel_animation]
GO
ALTER TABLE [dbo].[show_frame] DROP CONSTRAINT [DF_show_border_dynamic]
GO
ALTER TABLE [dbo].[show_bg] DROP CONSTRAINT [DF_show_bg_skel_animation]
GO
ALTER TABLE [dbo].[show_bg] DROP CONSTRAINT [DF_show_bg_dynamic]
GO
ALTER TABLE [dbo].[show_avatar] DROP CONSTRAINT [DF_show_avatar_skel_animation]
GO
ALTER TABLE [dbo].[show_avatar] DROP CONSTRAINT [DF_show_avatar_dynamic]
GO
ALTER TABLE [dbo].[generals] DROP CONSTRAINT [DF_generals_hidden]
GO
ALTER TABLE [dbo].[generals] DROP CONSTRAINT [DF_generals_classic_lord]
GO
ALTER TABLE [dbo].[generals] DROP CONSTRAINT [DF_generals_adjust_hp]
GO
ALTER TABLE [dbo].[general_skin] DROP CONSTRAINT [DF_general_skin_quality]
GO
ALTER TABLE [dbo].[general_skin] DROP CONSTRAINT [DF_general_skin_dynamic_mobile]
GO
ALTER TABLE [dbo].[general_skin] DROP CONSTRAINT [DF_general_skin_dynamic_ol]
GO
ALTER TABLE [dbo].[cards] DROP CONSTRAINT [DF_cards_can_recast]
GO
ALTER TABLE [dbo].[cards] DROP CONSTRAINT [DF_cards_transferable]
GO
/****** Object:  Index [IX_translation]    Script Date: 2018/12/11 22:09:39 ******/
DROP INDEX [IX_translation] ON [dbo].[translation]
GO
/****** Object:  Index [IX_title]    Script Date: 2018/12/11 22:09:39 ******/
DROP INDEX [IX_title] ON [dbo].[title]
GO
/****** Object:  Index [IX_show_border]    Script Date: 2018/12/11 22:09:39 ******/
ALTER TABLE [dbo].[show_frame] DROP CONSTRAINT [IX_show_border]
GO
/****** Object:  Index [IX_show_bg]    Script Date: 2018/12/11 22:09:39 ******/
ALTER TABLE [dbo].[show_bg] DROP CONSTRAINT [IX_show_bg]
GO
/****** Object:  Index [IX_show_avatar]    Script Date: 2018/12/11 22:09:39 ******/
ALTER TABLE [dbo].[show_avatar] DROP CONSTRAINT [IX_show_avatar]
GO
/****** Object:  Table [dbo].[translation]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[translation]
GO
/****** Object:  Table [dbo].[title]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[title]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[skills]
GO
/****** Object:  Table [dbo].[show_frame]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[show_frame]
GO
/****** Object:  Table [dbo].[show_bg]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[show_bg]
GO
/****** Object:  Table [dbo].[show_avatar]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[show_avatar]
GO
/****** Object:  Table [dbo].[generals]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[generals]
GO
/****** Object:  Table [dbo].[general_skin]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[general_skin]
GO
/****** Object:  Table [dbo].[general_skill]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[general_skill]
GO
/****** Object:  Table [dbo].[general_package]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[general_package]
GO
/****** Object:  Table [dbo].[general_lines]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[general_lines]
GO
/****** Object:  Table [dbo].[general_hp_adjust]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[general_hp_adjust]
GO
/****** Object:  Table [dbo].[game_mode]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[game_mode]
GO
/****** Object:  Table [dbo].[function_card]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[function_card]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[cards]
GO
/****** Object:  Table [dbo].[card_package]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[card_package]
GO
/****** Object:  Table [dbo].[ai_skill_value]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[ai_skill_value]
GO
/****** Object:  Table [dbo].[ai_skill_pair_value]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[ai_skill_pair_value]
GO
/****** Object:  Table [dbo].[ai_skill_coop_value]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[ai_skill_coop_value]
GO
/****** Object:  Table [dbo].[ai_skill_classify]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[ai_skill_classify]
GO
/****** Object:  Table [dbo].[ai_pair_value]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[ai_pair_value]
GO
/****** Object:  Table [dbo].[ai_general_value]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[ai_general_value]
GO
/****** Object:  Table [dbo].[ai_basic_card_value]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[ai_basic_card_value]
GO
/****** Object:  Table [dbo].[achieve]    Script Date: 2018/12/11 22:09:39 ******/
DROP TABLE [dbo].[achieve]
GO
USE [master]
GO
/****** Object:  Database [Sanguosha-data]    Script Date: 2018/12/11 22:09:39 ******/
DROP DATABASE [Sanguosha-data]
GO
/****** Object:  Database [Sanguosha-data]    Script Date: 2018/12/11 22:09:39 ******/
CREATE DATABASE [Sanguosha-data]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sanguosha-data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sanguosha-data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sanguosha-data_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sanguosha-data_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sanguosha-data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sanguosha-data]
GO
/****** Object:  Table [dbo].[achieve]    Script Date: 2018/12/11 22:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[achieve](
	[achieve_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[descript] [varchar](50) NOT NULL,
	[reward_title_id] [int] NULL,
	[reward_image1_id] [int] NULL,
	[reward_image2_id] [int] NULL,
	[reward_image3_id] [int] NULL,
 CONSTRAINT [PK_achieve] PRIMARY KEY CLUSTERED 
(
	[achieve_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_basic_card_value]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_basic_card_value](
	[card_name] [varchar](50) NOT NULL,
	[use_value] [float] NOT NULL,
	[keep_value] [float] NOT NULL,
	[priority] [float] NOT NULL,
 CONSTRAINT [PK_ai_basic_card_value] PRIMARY KEY CLUSTERED 
(
	[card_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_general_value]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_general_value](
	[general] [varchar](50) NOT NULL,
	[value] [int] NOT NULL,
	[mode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ai_general_value] PRIMARY KEY CLUSTERED 
(
	[general] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_pair_value]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_pair_value](
	[general1] [varchar](50) NOT NULL,
	[general2] [varchar](50) NOT NULL,
	[value1] [int] NOT NULL,
	[value2] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_skill_classify]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_skill_classify](
	[type] [varchar](50) NOT NULL,
	[skills] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_skill_coop_value]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_skill_coop_value](
	[skills] [varchar](50) NOT NULL,
	[value] [float] NOT NULL,
	[mode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ai_skill_coop_value] PRIMARY KEY CLUSTERED 
(
	[skills] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_skill_pair_value]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_skill_pair_value](
	[skills] [varchar](50) NOT NULL,
	[value] [float] NOT NULL,
 CONSTRAINT [PK_ai_skill_pair_value] PRIMARY KEY CLUSTERED 
(
	[skills] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_skill_value]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_skill_value](
	[skill_name] [varchar](50) NOT NULL,
	[value] [float] NOT NULL,
 CONSTRAINT [PK_ai_skill_value] PRIMARY KEY CLUSTERED 
(
	[skill_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_package]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_package](
	[package_name] [varchar](50) NOT NULL,
	[mode] [varchar](50) NOT NULL,
	[translation] [varchar](50) NOT NULL,
	[index] [int] NOT NULL,
 CONSTRAINT [PK_card_package] PRIMARY KEY CLUSTERED 
(
	[package_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[suit] [varchar](50) NOT NULL,
	[number] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[mode] [varchar](50) NOT NULL,
	[package] [varchar](50) NOT NULL,
	[transferable] [bit] NOT NULL,
	[can_recast] [bit] NOT NULL,
 CONSTRAINT [PK_cards] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[function_card]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[function_card](
	[index] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[name_translation] [varchar](50) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[description] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_mode]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_mode](
	[mode_name] [varchar](50) NOT NULL,
	[players_count] [int] NOT NULL,
	[is_scenario] [bit] NOT NULL,
	[index] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[general_hp_adjust]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[general_hp_adjust](
	[general_name] [varchar](50) NOT NULL,
	[hp_adjust] [int] NOT NULL,
	[is_head] [bit] NOT NULL,
 CONSTRAINT [PK_general_hp_adjust] PRIMARY KEY CLUSTERED 
(
	[general_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[general_lines]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[general_lines](
	[skill_name] [varchar](50) NOT NULL,
	[general_name] [varchar](50) NOT NULL,
	[skin_id] [int] NOT NULL,
	[lines] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[general_package]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[general_package](
	[package_name] [varchar](50) NOT NULL,
	[mode] [varchar](50) NOT NULL,
	[translation] [varchar](50) NOT NULL,
	[index] [int] NOT NULL,
 CONSTRAINT [PK_general_package] PRIMARY KEY CLUSTERED 
(
	[package_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[general_skill]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[general_skill](
	[general] [varchar](50) NOT NULL,
	[skill_names] [varchar](50) NOT NULL,
	[related_skills] [varchar](50) NULL,
	[mode] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[general_skin]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[general_skin](
	[general_name] [varchar](50) NOT NULL,
	[skin_id] [int] NOT NULL,
	[title] [varchar](50) NOT NULL,
	[dynamic_ol] [bit] NOT NULL,
	[dynamic_mobile] [bit] NOT NULL,
	[quality] [int] NULL,
	[CV] [varchar](50) NULL,
	[illustrator] [varchar](50) NULL,
	[mode] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generals]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generals](
	[general_name] [varchar](50) NOT NULL,
	[sex] [bit] NOT NULL,
	[kingdom] [varchar](50) NOT NULL,
	[HP] [int] NOT NULL,
	[adjust_hp] [int] NOT NULL,
	[package] [varchar](max) NULL,
	[hegemony_lord] [bit] NOT NULL,
	[classic_lord] [bit] NOT NULL,
	[hidden] [bit] NOT NULL,
	[companion] [varchar](50) NULL,
	[translation] [varchar](50) NULL,
 CONSTRAINT [PK_generals] PRIMARY KEY CLUSTERED 
(
	[general_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[show_avatar]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[show_avatar](
	[id] [int] NOT NULL,
	[title] [varchar](50) NOT NULL,
	[dynamic] [bit] NOT NULL,
	[skel_animation] [bit] NOT NULL,
 CONSTRAINT [PK_show_avatar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[show_bg]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[show_bg](
	[id] [int] NOT NULL,
	[title] [varchar](50) NOT NULL,
	[dynamic] [bit] NOT NULL,
	[skel_animation] [bit] NOT NULL,
 CONSTRAINT [PK_show_bg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[show_frame]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[show_frame](
	[id] [int] NOT NULL,
	[title] [varchar](50) NOT NULL,
	[dynamic] [bit] NOT NULL,
	[skel_animation] [bit] NOT NULL,
 CONSTRAINT [PK_show_border] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skills](
	[index] [int] NOT NULL,
	[skill_name] [varchar](50) NOT NULL,
	[preshow] [bit] NOT NULL,
	[frequency] [int] NOT NULL,
	[attach_lord] [bit] NOT NULL,
	[translation] [varchar](50) NOT NULL,
	[description] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[title]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[title](
	[title_id] [int] NOT NULL,
	[title_name] [varchar](50) NOT NULL,
	[describe] [varchar](50) NULL,
	[translation] [varchar](50) NULL,
 CONSTRAINT [PK_title] PRIMARY KEY CLUSTERED 
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[translation]    Script Date: 2018/12/11 22:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[translation](
	[key] [varchar](50) NOT NULL,
	[translation] [varchar](max) NOT NULL,
	[path] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ai_basic_card_value] ([card_name], [use_value], [keep_value], [priority]) VALUES (N'AllianceFeast', 1, 1, 8.8)
INSERT [dbo].[ai_basic_card_value] ([card_name], [use_value], [keep_value], [priority]) VALUES (N'AmazingGrace', 3, -1, 1.2)
INSERT [dbo].[ai_basic_card_value] ([card_name], [use_value], [keep_value], [priority]) VALUES (N'Analeptic', 6.2, 4.1, 3)
INSERT [dbo].[ai_general_value] ([general], [value], [mode]) VALUES (N'bianfuren', 3, N'Hegemony')
INSERT [dbo].[ai_general_value] ([general], [value], [mode]) VALUES (N'caiwenji', 7, N'Hegemony')
INSERT [dbo].[ai_general_value] ([general], [value], [mode]) VALUES (N'caocao', 8, N'Hegemony')
INSERT [dbo].[ai_pair_value] ([general1], [general2], [value1], [value2]) VALUES (N'huangyueying', N'zhangfei', 24, 23)
INSERT [dbo].[ai_pair_value] ([general1], [general2], [value1], [value2]) VALUES (N'zhenji', N'zhanghe', 24, 23)
INSERT [dbo].[ai_pair_value] ([general1], [general2], [value1], [value2]) VALUES (N'sunshangxiang', N'luxun', 26, 25)
GO
INSERT [dbo].[ai_skill_classify] ([type], [skills]) VALUES (N'lose_equip_skill', N'xiaoji|xuanlue')
INSERT [dbo].[ai_skill_classify] ([type], [skills]) VALUES (N'lose_one_equip_skill', N'')
INSERT [dbo].[ai_skill_classify] ([type], [skills]) VALUES (N'need_kongcheng', N'kongcheng')
INSERT [dbo].[ai_skill_coop_value] ([skills], [value], [mode]) VALUES (N'duoshi+xiaoji', 4, N'Hegemony')
INSERT [dbo].[ai_skill_coop_value] ([skills], [value], [mode]) VALUES (N'duoshi+xuanlue', 1, N'Hegemony')
INSERT [dbo].[ai_skill_coop_value] ([skills], [value], [mode]) VALUES (N'flamemap+xiaoji', 4, N'Hegemony')
INSERT [dbo].[ai_skill_pair_value] ([skills], [value]) VALUES (N'buqu+hunshang', 1.5)
INSERT [dbo].[ai_skill_pair_value] ([skills], [value]) VALUES (N'buqu+yinghun_sunjian', 3)
INSERT [dbo].[ai_skill_pair_value] ([skills], [value]) VALUES (N'dimeng+xiaoji', 1)
INSERT [dbo].[ai_skill_value] ([skill_name], [value]) VALUES (N'baoling', 0)
INSERT [dbo].[ai_skill_value] ([skill_name], [value]) VALUES (N'bazhen', 2)
INSERT [dbo].[ai_skill_value] ([skill_name], [value]) VALUES (N'beige', 3)
GO
INSERT [dbo].[card_package] ([package_name], [mode], [translation], [index]) VALUES (N'GuanduCards', N'GuanduWarfare', N'官渡标准', 3)
INSERT [dbo].[card_package] ([package_name], [mode], [translation], [index]) VALUES (N'LordCards', N'Hegemony', N'君主卡牌', 2)
INSERT [dbo].[card_package] ([package_name], [mode], [translation], [index]) VALUES (N'StanderCards', N'Hegemony', N'国战标准', 0)
INSERT [dbo].[cards] ([id], [name], [suit], [number], [type], [mode], [package], [transferable], [can_recast]) VALUES (0, N'Slash', N'spade', 5, N'basic', N'Hegemony', N'StanderCards', 0, 0)
INSERT [dbo].[cards] ([id], [name], [suit], [number], [type], [mode], [package], [transferable], [can_recast]) VALUES (1, N'Slash', N'spade', 7, N'basic', N'Hegemony', N'StanderCards', 0, 0)
INSERT [dbo].[cards] ([id], [name], [suit], [number], [type], [mode], [package], [transferable], [can_recast]) VALUES (2, N'Slash', N'spade', 8, N'basic', N'Hegemony', N'StanderCards', 0, 0)
GO
INSERT [dbo].[function_card] ([index], [name], [name_translation], [type], [description]) VALUES (1, N'Slash', N'杀', N'basic', N'基本牌\n\n使用时机：出牌阶段限一次。\n使用目标：你攻击范围内的一名角色。\n作用效果：你对目标角色造成1点伤害。')
INSERT [dbo].[function_card] ([index], [name], [name_translation], [type], [description]) VALUES (2, N'FireSlash', N'火杀', N'basic', N'基本牌\n\n使用时机：出牌阶段限一次。\n使用目标：你攻击范围内的一名角色。\n作用效果：你对目标角色造成1点火焰伤害。')
INSERT [dbo].[function_card] ([index], [name], [name_translation], [type], [description]) VALUES (3, N'ThunderSlash', N'雷杀', N'basic', N'基本牌\n\n使用时机：出牌阶段限一次。\n使用目标：你攻击范围内的一名角色。\n作用效果：你对目标角色造成1点雷电伤害。')
INSERT [dbo].[game_mode] ([mode_name], [players_count], [is_scenario], [index]) VALUES (N'Hegemony', 8, 0, 0)
INSERT [dbo].[game_mode] ([mode_name], [players_count], [is_scenario], [index]) VALUES (N'GuanduWarfare', 4, 1, 0)
INSERT [dbo].[game_mode] ([mode_name], [players_count], [is_scenario], [index]) VALUES (N'Hegemony', 6, 0, 1)
INSERT [dbo].[general_hp_adjust] ([general_name], [hp_adjust], [is_head]) VALUES (N'dengai', -1, 1)
INSERT [dbo].[general_hp_adjust] ([general_name], [hp_adjust], [is_head]) VALUES (N'jiangwei', -1, 0)
INSERT [dbo].[general_hp_adjust] ([general_name], [hp_adjust], [is_head]) VALUES (N'sunce', -1, 0)
INSERT [dbo].[general_lines] ([skill_name], [general_name], [skin_id], [lines]) VALUES (N'mingshi2', N'kongrong', 0, N'名士之风，仁义高洁。')
INSERT [dbo].[general_lines] ([skill_name], [general_name], [skin_id], [lines]) VALUES (N'mingshi1', N'kongrong', 0, N'孔门之后，忠孝为先。')
INSERT [dbo].[general_lines] ([skill_name], [general_name], [skin_id], [lines]) VALUES (N'lirang2', N'kongrong', 0, N'谦者，德之柄也；让者，礼之主也。')
GO
INSERT [dbo].[general_package] ([package_name], [mode], [translation], [index]) VALUES (N'Authority', N'Hegemony', N'权', 4)
INSERT [dbo].[general_package] ([package_name], [mode], [translation], [index]) VALUES (N'Formation', N'Hegemony', N'阵', 1)
INSERT [dbo].[general_package] ([package_name], [mode], [translation], [index]) VALUES (N'GuanduLimited', N'GuanduWarfare', N'标准', 0)
INSERT [dbo].[general_skill] ([general], [skill_names], [related_skills], [mode]) VALUES (N'caocao', N'jianxiong', NULL, N'Hegemony')
INSERT [dbo].[general_skill] ([general], [skill_names], [related_skills], [mode]) VALUES (N'simayi', N'fankui,guicai', NULL, N'Hegemony')
INSERT [dbo].[general_skill] ([general], [skill_names], [related_skills], [mode]) VALUES (N'xiahoudun', N'ganglie', NULL, N'Hegemony')
INSERT [dbo].[general_skin] ([general_name], [skin_id], [title], [dynamic_ol], [dynamic_mobile], [quality], [CV], [illustrator], [mode]) VALUES (N'bianfuren', 0, N'奕世之雍裔', 0, 0, 0, NULL, N'雪君S', N'')
INSERT [dbo].[general_skin] ([general_name], [skin_id], [title], [dynamic_ol], [dynamic_mobile], [quality], [CV], [illustrator], [mode]) VALUES (N'caiwenji', 0, N'异乡的孤女', 0, 0, 0, NULL, N'Sonia Tang', N'')
INSERT [dbo].[general_skin] ([general_name], [skin_id], [title], [dynamic_ol], [dynamic_mobile], [quality], [CV], [illustrator], [mode]) VALUES (N'caiwenji', 1, N'塞上吹笛', 0, 0, 1, NULL, N'美弟奇', N'')
GO
INSERT [dbo].[generals] ([general_name], [sex], [kingdom], [HP], [adjust_hp], [package], [hegemony_lord], [classic_lord], [hidden], [companion], [translation]) VALUES (N'bianfuren', 0, N'wei', 3, 0, N'Transformation', 0, 0, 0, N'caocao', N'卞夫人')
INSERT [dbo].[generals] ([general_name], [sex], [kingdom], [HP], [adjust_hp], [package], [hegemony_lord], [classic_lord], [hidden], [companion], [translation]) VALUES (N'caiwenji', 0, N'qun', 3, 0, N'Stander', 0, 0, 0, NULL, N'蔡文姬')
INSERT [dbo].[generals] ([general_name], [sex], [kingdom], [HP], [adjust_hp], [package], [hegemony_lord], [classic_lord], [hidden], [companion], [translation]) VALUES (N'caocao', 1, N'wei', 4, 0, N'Stander', 0, 0, 0, N'dianwei,xuchu', N'曹操')
INSERT [dbo].[show_avatar] ([id], [title], [dynamic], [skel_animation]) VALUES (100001, N'过河拆桥', 0, 0)
INSERT [dbo].[show_avatar] ([id], [title], [dynamic], [skel_animation]) VALUES (100002, N'无懈可击', 0, 0)
INSERT [dbo].[show_avatar] ([id], [title], [dynamic], [skel_animation]) VALUES (100003, N'桃园结义', 0, 0)
GO
INSERT [dbo].[show_bg] ([id], [title], [dynamic], [skel_animation]) VALUES (300001, N'过河拆桥', 0, 0)
INSERT [dbo].[show_bg] ([id], [title], [dynamic], [skel_animation]) VALUES (300002, N'无懈可击', 0, 0)
INSERT [dbo].[show_bg] ([id], [title], [dynamic], [skel_animation]) VALUES (300003, N'桃园结义', 0, 0)
GO
INSERT [dbo].[show_frame] ([id], [title], [dynamic], [skel_animation]) VALUES (200001, N'过河拆桥', 0, 0)
INSERT [dbo].[show_frame] ([id], [title], [dynamic], [skel_animation]) VALUES (200002, N'无懈可击', 0, 0)
INSERT [dbo].[show_frame] ([id], [title], [dynamic], [skel_animation]) VALUES (200003, N'桃园结义', 0, 0)
GO
INSERT [dbo].[skills] ([index], [skill_name], [preshow], [frequency], [attach_lord], [translation], [description]) VALUES (1, N'jianxiong', 1, 0, 0, N'奸雄', N'每当你受到伤害后，你可以获得造成此伤害的牌。')
INSERT [dbo].[skills] ([index], [skill_name], [preshow], [frequency], [attach_lord], [translation], [description]) VALUES (2, N'fankui', 1, 0, 0, N'反馈', N'每当你受到伤害后，你可以获得来源的一张牌。')
INSERT [dbo].[skills] ([index], [skill_name], [preshow], [frequency], [attach_lord], [translation], [description]) VALUES (3, N'guicai', 1, 0, 0, N'鬼才', N'每当一名角色的判定牌生效前，你可以打出手牌代替之。')
GO
INSERT [dbo].[title] ([title_id], [title_name], [describe], [translation]) VALUES (0, N'newbee', N'沙雕萌新', N'初出茅庐')
INSERT [dbo].[translation] ([key], [translation], [path]) VALUES (N'ConncetionError', N'连接失败', N'Asset/Prefabs/LoginDialogScript.cs')
INSERT [dbo].[translation] ([key], [translation], [path]) VALUES (N'Connecting', N'连接中', N'Asset/Prefabs/LoginDialogScript.cs')
INSERT [dbo].[translation] ([key], [translation], [path]) VALUES (N'Connected', N'已连接', N'Asset/Prefabs/LoginDialogScript.cs')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_show_avatar]    Script Date: 2018/12/11 22:09:40 ******/
ALTER TABLE [dbo].[show_avatar] ADD  CONSTRAINT [IX_show_avatar] UNIQUE NONCLUSTERED 
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_show_bg]    Script Date: 2018/12/11 22:09:40 ******/
ALTER TABLE [dbo].[show_bg] ADD  CONSTRAINT [IX_show_bg] UNIQUE NONCLUSTERED 
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_show_border]    Script Date: 2018/12/11 22:09:40 ******/
ALTER TABLE [dbo].[show_frame] ADD  CONSTRAINT [IX_show_border] UNIQUE NONCLUSTERED 
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_title]    Script Date: 2018/12/11 22:09:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_title] ON [dbo].[title]
(
	[title_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_translation]    Script Date: 2018/12/11 22:09:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_translation] ON [dbo].[translation]
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cards] ADD  CONSTRAINT [DF_cards_transferable]  DEFAULT ((0)) FOR [transferable]
GO
ALTER TABLE [dbo].[cards] ADD  CONSTRAINT [DF_cards_can_recast]  DEFAULT ((0)) FOR [can_recast]
GO
ALTER TABLE [dbo].[general_skin] ADD  CONSTRAINT [DF_general_skin_dynamic_ol]  DEFAULT ((0)) FOR [dynamic_ol]
GO
ALTER TABLE [dbo].[general_skin] ADD  CONSTRAINT [DF_general_skin_dynamic_mobile]  DEFAULT ((0)) FOR [dynamic_mobile]
GO
ALTER TABLE [dbo].[general_skin] ADD  CONSTRAINT [DF_general_skin_quality]  DEFAULT ((0)) FOR [quality]
GO
ALTER TABLE [dbo].[generals] ADD  CONSTRAINT [DF_generals_adjust_hp]  DEFAULT ((0)) FOR [adjust_hp]
GO
ALTER TABLE [dbo].[generals] ADD  CONSTRAINT [DF_generals_classic_lord]  DEFAULT ((0)) FOR [classic_lord]
GO
ALTER TABLE [dbo].[generals] ADD  CONSTRAINT [DF_generals_hidden]  DEFAULT ((0)) FOR [hidden]
GO
ALTER TABLE [dbo].[show_avatar] ADD  CONSTRAINT [DF_show_avatar_dynamic]  DEFAULT ((0)) FOR [dynamic]
GO
ALTER TABLE [dbo].[show_avatar] ADD  CONSTRAINT [DF_show_avatar_skel_animation]  DEFAULT ((0)) FOR [skel_animation]
GO
ALTER TABLE [dbo].[show_bg] ADD  CONSTRAINT [DF_show_bg_dynamic]  DEFAULT ((0)) FOR [dynamic]
GO
ALTER TABLE [dbo].[show_bg] ADD  CONSTRAINT [DF_show_bg_skel_animation]  DEFAULT ((0)) FOR [skel_animation]
GO
ALTER TABLE [dbo].[show_frame] ADD  CONSTRAINT [DF_show_border_dynamic]  DEFAULT ((0)) FOR [dynamic]
GO
ALTER TABLE [dbo].[show_frame] ADD  CONSTRAINT [DF_show_frame_skel_animation]  DEFAULT ((0)) FOR [skel_animation]
GO
ALTER TABLE [dbo].[skills] ADD  CONSTRAINT [DF_skills_attach_lord]  DEFAULT ((0)) FOR [attach_lord]
GO
ALTER TABLE [dbo].[achieve]  WITH CHECK ADD  CONSTRAINT [FK_achieve_title] FOREIGN KEY([reward_title_id])
REFERENCES [dbo].[title] ([title_id])
GO
ALTER TABLE [dbo].[achieve] CHECK CONSTRAINT [FK_achieve_title]
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD  CONSTRAINT [FK_cards_card_package] FOREIGN KEY([package])
REFERENCES [dbo].[card_package] ([package_name])
GO
ALTER TABLE [dbo].[cards] CHECK CONSTRAINT [FK_cards_card_package]
GO
ALTER TABLE [dbo].[general_hp_adjust]  WITH CHECK ADD  CONSTRAINT [FK_general_hp_adjust_generals] FOREIGN KEY([general_name])
REFERENCES [dbo].[generals] ([general_name])
GO
ALTER TABLE [dbo].[general_hp_adjust] CHECK CONSTRAINT [FK_general_hp_adjust_generals]
GO
ALTER TABLE [dbo].[general_skill]  WITH CHECK ADD  CONSTRAINT [FK_general-skill_generals] FOREIGN KEY([general])
REFERENCES [dbo].[generals] ([general_name])
GO
ALTER TABLE [dbo].[general_skill] CHECK CONSTRAINT [FK_general-skill_generals]
GO
ALTER TABLE [dbo].[general_skin]  WITH CHECK ADD  CONSTRAINT [FK_general_skin_generals] FOREIGN KEY([general_name])
REFERENCES [dbo].[generals] ([general_name])
GO
ALTER TABLE [dbo].[general_skin] CHECK CONSTRAINT [FK_general_skin_generals]
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD  CONSTRAINT [卡牌花色] CHECK  (([suit]='club' OR [suit]='diamond' OR [suit]='heart' OR [suit]='spade'))
GO
ALTER TABLE [dbo].[cards] CHECK CONSTRAINT [卡牌花色]
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD  CONSTRAINT [卡牌类型] CHECK  (([type]='basic' OR [type]='equip' OR [type]='trick'))
GO
ALTER TABLE [dbo].[cards] CHECK CONSTRAINT [卡牌类型]
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD  CONSTRAINT [卡牌数字在A~K之间] CHECK  (([number]>=(1) AND [number]<=(13)))
GO
ALTER TABLE [dbo].[cards] CHECK CONSTRAINT [卡牌数字在A~K之间]
GO
ALTER TABLE [dbo].[general_skin]  WITH CHECK ADD  CONSTRAINT [id] CHECK  (([skin_id]>=(0)))
GO
ALTER TABLE [dbo].[general_skin] CHECK CONSTRAINT [id]
GO
ALTER TABLE [dbo].[generals]  WITH CHECK ADD  CONSTRAINT [kingdom] CHECK  (([kingdom]='wu' OR [kingdom]='shu' OR [kingdom]='wei' OR [kingdom]='qun' OR [kingdom]='god'))
GO
ALTER TABLE [dbo].[generals] CHECK CONSTRAINT [kingdom]
GO
USE [master]
GO
